@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Lora&family=Open+Sans&display=swap");
.title {
  color: black;
  font-family: "Lora", serif;
}

a,
a:hover {
  text-decoration: none;
}

.filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;
}

.phoneCard {
  position: relative;
  width: 230px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.accordion-item {
  border: none;
}
.accordion-button:not(.collapsed) {
  color: tomato;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

@media screen and (max-width: 600px) {
  .filterBox {
    width: 20vmax;
    position: static;
    margin: auto;
  }
}
