@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Lora&family=Open+Sans&display=swap");
.title {
  color: black;
  font-family: "Lora", serif;
}

a,
a:hover {
  text-decoration: none;
}

.filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;
}

@media screen and (max-width: 600px) {
  .filterBox {
    width: 20vmax;
    position: static;
    margin: auto;
  }
}
