.main {
  height: 100%;
  background-color: #f5f9fb;
}
/* nav {
  background-color: rgba(228, 228, 228, 0.2);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
  padding: 20px;
}
.navbar-brand {
  font-family: Cocogoose;
} */
.heading {
  z-index: 888;
  padding: 100px 500px;
  position: relative;
  /* justify-content: center;
  align-items: center; */
}
.main .mi {
  width: 80%;
  padding: 0px 250px;
  align-content: center;
}

/* .table {
  padding: 100px 700px;
  width: 1200px;
  justify-content: center;
} */

/* nav {
  background-color: rgba(228, 228, 228, 0.2);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
  padding: 20px;
}
.navbar-brand {
  font-family: Cocogoose;
}
.accordion-button::after {
  margin-right: 1157px;
} */
.accordion-item {
  border: none;
}
